<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <meta charset="UTF-8">
    <title>{% block title %} {{ object.title }} {% endblock title %}</title>
</head>
<body>
{% block content %}
<br>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="{{ object.img_url }}">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
            <p> Chelsea's Rank: {{ object.ranking }} </p>
            <p> <strong> {{ object.title }} ({{ object.year }}) </strong> </p>
            <p> {{ object.description }} </p>
    </div>
</div>

{% endblock content %}
</body>
</html>