body {
    margin: 0;
    text-align: center;
    align: center;
    background-color: #f0efe6;
}

p {
    text-align: center;
}

div {
    margin: auto;
}
/* flip card */
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}


body, html {
			margin: 0;
			padding: 0;
			height: 100%;
		}

.user_card {
			width: 20rem;
			margin-top: auto;
			margin-bottom: auto;
			background: #CB4C4E;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 1rem;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

.form_container {
			margin-top: 1rem;
		}

#form-title{
			color: #fff;
		}

.login_btn {
			width: 100%;
			background: #89cff0 !important;
			color: white !important;
		}

.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

.login_container {
			padding: 0 2rem;
		}

.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}

.input_user, .input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

#messages {
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}

.card-img-top {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto;
}

.card {
    background-color: #f0efe6;
}

.card-for-details {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto;
    padding-left: 10rem;
    border: 0px;
}

.card-body {
    background-color: #f0efe6;
}

/* change the background color */
.navbar {
    background: #CB4C4E;
}

/* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: #f0efe6;
}

/* change the link color */
.navbar .navbar-nav .nav-link {
    color: #f0efe6;
}

/* change the color of active or hovered links */
.navbar .nav-item:active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
    color: pink;
}

/* for dropdowns only */
.navbar .navbar-nav .dropdown-menu {
    background-color: #f0efe6;
}

/* dropdown item text color */
.navbar .navbar-nav .dropdown-item {
    color: #f0efe6;
}

/* dropdown item hover or focus */
.navbar .navbar-nav .dropdown-item:hover,
.navbar .navbar-nav .dropdown-item:focus {
    color: #f0efe6;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: #CB4C4E;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #f0efe6;
    margin-bottom: 5px;
}